.splash-container{
    // background-color:rgb(232, 245, 237);
    height:100vh;
    .logo-box{
        display:flex;
        flex-direction: column;
        align-items:center;
        margin-top:10vh;
        .img-box{
            display:flex;
            justify-content: center;;
            img{
                width:100%;
            }
        }
        .name{
            margin-top:10px;
            font-size:24px;
        }
    }
    .login-logout-container{
        margin-top:30px;
        display:flex;
        justify-content:center;
        a{
            
            margin:10px;
            button{
                padding: 8px 16px;
                font-size:18px;
            }
        }
    }
}