.splash-container {
  height: 100vh;
  width: 100%;
  position: relative;
}
.splash-container::before {
  content: "";
  position: absolute;
  background-image: url(../../images/back3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-box {
      display: flex;
      justify-content: center;
      width: 300px;
      @media (max-width: 768px) {
        width: 60vw;
      }
      img {
        width: 100%;
      }
    }
    .name {
      margin-top: 2px;
      font-size: 40px;
    }
    .sub-name {
      margin-top: 8px;
      width: 400px;
      text-align: justify;
      color: $mainGrey;
      font-weight: 400;
      letter-spacing: 0.5px;
      @media (max-width: 768px) {
        width: 70vw;
        font-weight: 500;
        font-size: 17px;
      }
    }
  }
  .login-logout-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    a {
      margin: 10px;
      button {
        padding: 8px 16px;
        font-size: 18px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0);
      }
      .login {
        border: $mainGreen solid 2px;
        transition: ease-out all 0.2s;
        &:hover {
          border: $mainGreen solid 2px;
          background: $mainGreen;
          color: white;
          cursor: pointer;
        }
      }
      .signup {
        border: $mainGreen solid 2px;
        transition: ease-out all 0.2s;
        &:hover {
          border: $mainGreen solid 2px;
          background: $mainRed;
          background: $mainGreen;
          color: white;
          cursor: pointer;
        }
      }
      .demo {
        border: black solid 2px;
        transition: ease-out all 0.2s;
        &:hover {
          background: black;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
