$mainGrey: #333333;
$lightGreyPlaceholder: #9a9a9a;
$mainRed: #a1272e;
$mainDarkRed: #851f24;
$mainLightRed: #eed9d0;
$mainGreen:#446c49;
$Greenish:#498586;
// $lightGreenCards: #e4eff0;
$lightGreenCards: #89bbc0;
$darkGreenCards: #437a80;
$GreenishDark:#091617;
$mainYellow:#f7dca5;
$mainDarkYellow:#cba964;
$mainYellowLignt:#f7f6f3;
