.show-recipe-container{
    height:100vh;
    width:100%;
    position:relative;
    padding-bottom: 150px;
} 
.show-recipe-container::before{
    content:'';
    position:absolute;
    background-image: url(../../images/back3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;;
    opacity:0.4;
    width : 100%;
    height: 100vh;
    padding-bottom: 150px;
}


.recipe-box{
    // height:100%;
    padding: 150px 200px 0;
    // padding-bottom: auto;
    // margin-bottom: 150px;
    display:flex;
    .show-recipe-card{
        display:flex;
        flex-direction:row;
        align-items: start;
        justify-content: center;
        .image-box{
            width:30%;
            text-align:center;
            border-radius:16px;
            overflow: hidden;
            img{
                width:100%;
                margin-bottom:20px;
            }
            .more-info{
                font-weight:300;
                color: $mainGrey;
            }
        }
        .information-box{
            margin:0 30px;
            width:70%;
            display:flex;
            flex-direction:column;
            .title{
                span{
                    font-weight:bold;

                }
                font-size:18px;
                margin-bottom: 20px;
            }
            .time{
                font-size:18px;
                span{

                    font-weight:bold;
                }
                margin-bottom: 10px;
            }
            .ingredients{
                margin: 10px 0;
                font-size:18px;
                span{
                    font-weight:bold;
                }
            }
            .instructions{
                font-size:18px;
                // margin-bottom:10px;
                span{
                    font-weight:bold
                }
            }
            .cooked{
                margin-top:10px;
                color: $mainGreen;
            }
            .not-enough{
                color: $mainGreen;
                margin-top:5px;
                margin-bottom:15px;
                font-weight: bold;;
            }
            .warning{
                color: $mainDarkRed;
                margin-top:5px;
                margin-bottom:20px;
            }
            .btn-container{
                display:flex;
                align-items: center;
                justify-content: space-around;
                // margin-bottom: 100px;
                button{
                    background:transparent;
                    width:250px;
                    padding: 8px 16px;
                    font-size:18px;
                    border-radius:30px;
                    transition: ease-out all 0.2s;
                }
                .cook{
                    border: $mainGreen solid 2px;
                    &:hover{
                        background:$mainGreen;
                        color:white;
                        cursor: pointer;
                    }
                }
                .jump-to-recipes{
                    border: #b86f53 solid 2px;
                    &:hover{
                        background:#b86f53;
                        color:white;
                        cursor: pointer;
                    }
                }
            }
            .empty-container{
                height:80px;
            }
        }
    }
}