.item-edit-page {
    margin: 200px;
    padding-bottom: 100px;;
}

.item-edit-form{
    margin-top: 140px;
    width:320px;
    background: $Greenish;
    padding:20px 30px 30px;
    border-radius: 16px;
    position: relative;
    .close{
        position: absolute;
        right:15px;
        font-size: 30px;
        color:white;
        transition:0.2s ease all;
        &:hover{
            color:#062829;
            cursor: pointer;
        }
    }
    .welcome-message{
        text-align:center;
        margin-bottom:15px;
        font-size:24px;
        color:white;
        font-weight:500;
    }
    input{
        width:100%;
        border:2px solid black;
        border-radius:16px;
        padding: 12px 12px;
        margin-bottom:8px;
        font-size: 16px;
    }
    .label{
        margin-bottom: 5px;
        margin-left:5px;
        color:white;
    }
    .form-control{
        width:100%;
        border:0;
        border-radius:0;
        padding:10px;
        font-size:16px;
        margin-bottom:10px;
        background:white;
        &:focus{
            outline:none;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        }
    }
    .edit-item-btn-container{
        padding: 15px 15px;
        margin:35px 0 15px;
        width:100%;
        font-size: 16px;
        border: 0;
        background-color: #062829;
        color:white;
        transition: ease-out all 0.2s;
        &:hover{
            color:white;
            background-color: #031b1b;
            cursor: pointer;
        }
        &[disabled]:hover {
            color:#76402b;
            background-color: rgba(239, 239, 239, 0.3);
            cursor: default;
        }
    }
    .delete-item-btn-container{
        button{
            border:none;
            padding: 15px 15px;
            background-color: $mainRed;
            width:100%;
            font-size: 16px;
            color:white;
            transition: ease-out all 0.2s;
            border-radius:16px;
            &:hover{
                color:white;
                background-color: $mainDarkRed;
                cursor: pointer;
            }
        }
    }
    .error-container{
        .error{
            font-size:14px;
            padding:5px;
            margin:px 0;
            color:$mainRed;
            background-color: $mainLightRed;
        }
    }
}
