#map{
    width:100%;
    margin-top:10%;
    @media (max-width: 1300px){
        margin-top:6%;
    }
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .map-container{
        width:80%;
        .map-title{
            font-size:18px;
            margin-bottom:15px;
            font-weight:bold;
        }
        .map-instructions{
            margin: 20px 0 10px;
        }
        .input-box{
            display:flex;
            align-items: center;
            justify-content: space-between;
            .map-instructions2{

                button{
                    padding: 5px 10px;
                    font-size:18px;
                    border-radius:30px;
                    background-color: rgba(255,255,255,0);
                    transition: ease-out all 0.2s;
                    &:hover{
                        border: $mainGreen solid 1px;
                        background:$mainRed;
                        background:$mainGreen;
                        color:white;
                        cursor: pointer;
                    }
                } 
            }
        }
    }
}