.footer-container{
    height: 50px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 30px 10px;
    bottom:0;
    z-index: 100;
    letter-spacing: 0.5px;
    position: fixed;
    color: black;
    .footer-left{
        font-size:18px;
        a{
            margin-left:5px;
            color: black;
            transition:0.2s ease-out all;
            &:hover{
                color:black;
                font-weight:bold;
            }
        }
    }
    
    .footer-message{
        color: black;
    }
    .social{
        font-size:18px;
        display:flex;
        align-items: center;
        justify-content: center;
        a{
            margin-left:5px;
            font-size: 30px;
            color: black;
            transition:0.2s ease all;
            &:hover{
                color:black;
            }

        }
    }
    
}
.footer-container.white{
    background-color: rgba(255, 255, 255, 0.5);
}