.footer-container{
    background: $mainYellow;
    height: 50px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 30px;
    bottom:0;
    z-index: 100;
    font-weight: 300;
    letter-spacing: 0.5px;
    position: fixed;
    color: #614d25;
    .footer-left{
        font-size:14px;
        a{
            margin-left:5px;
            color: #614d25;
            transition:0.2s ease-out all;
            &:hover{
                color:black;
                font-weight:bold;
            }
        }
    }
    
    .footer-message{
        color: #8a703c;
    }
    .social{
        display:flex;
        align-items: center;
        justify-content: center;
        a{
            margin-left:5px;
            font-size: 26px;
            color: #614d25;
            transition:0.2s ease all;
            &:hover{
                color:black;
            }

        }
    }
    
}