.footer-container{
    background: $mainYellow;
    height: 50px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 30px;
    bottom:0;
    z-index: 100;
    font-weight: 300;
    letter-spacing: 0.5px;
    position: fixed;
    color: #8a703c;
    .footer-left{
        font-size:14px;
    }
    
    .footer-message{
        color: #8a703c;
    }
    .social{
        display:flex;
        align-items: center;
        justify-content: center;
        a{
            margin-left:5px;
            font-size: 26px;
            color: #8a703c;

        }
    }
    
}