@import 'styles/config';
@import 'components/nav/navbar';
@import 'components/main/main';
@import 'components/footer/footer';
@import 'components/session/login';
@import 'components/item/item';
@import 'components/item_edit/item_edit';
@import 'components/item_edit/modal';
@import 'components/recipe/recipe';
@import 'components/page_not_found/page_not_found';
@import 'components/contact/contact';
@import 'components/googlemaps/map';
@import 'components/item/dragndrop';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
select:focus {
outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  text-decoration: none;
  color: black;
}
button{
  background:white;
}
button:focus { outline:0; }

input:focus {
  outline: none;
}
ul {
  list-style: none;
}